/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* Container */
.container {
  width: 90%;
  margin: 0 auto;
}
