/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* Container */
.container {
  width: 90%;
  margin: 0 auto;
}

/* Post content styles - bullet lists (override reset) - MUST BE LAST */
.post-content ul,
div.post-content ul,
article .post-content ul,
main .post-content ul,
main.container .post-content ul,
main.container article .post-content ul,
article .post-content ul,
div.post-content ul ul,
div.post-content ul ol,
div.post-content ol ul,
div.post-content ol ol,
.post-content ul[style],
.post-content ol[style] {
  list-style: none !important;
  margin: 1em 0 1em 2em !important;
  margin-left: 2em !important;
  padding: 0 !important;
  padding-left: 0 !important;
}

.post-content ul li,
div.post-content ul li,
article .post-content ul li,
main .post-content ul li,
.post-content ul li[style],
.post-content ol li[style] {
  margin: 0.5em 0 !important;
  padding: 0 0 0 0.5em !important;
  padding-left: 0.5em !important;
  position: relative !important;
  line-height: 1.6 !important;
  text-indent: 0 !important;
  list-style: none !important;
}

.post-content ul li::before,
div.post-content ul li::before,
article .post-content ul li::before,
main .post-content ul li::before,
.post-content ul li .list-bullet {
  content: "•" !important;
  position: absolute !important;
  left: -2em !important;
  color: #333 !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
  line-height: 1.6 !important;
  display: inline-block !important;
  text-align: right !important;
  min-width: 1.5em !important;
}

.post-content ol,
div.post-content ol,
article .post-content ol,
main .post-content ol,
main.container .post-content ol,
main.container article .post-content ol,
.post-content ol[style] {
  list-style: none !important;
  margin: 1em 0 1em 2em !important;
  margin-left: 2em !important;
  padding: 0 !important;
  padding-left: 0 !important;
  counter-reset: item !important;
}

.post-content ol li,
div.post-content ol li,
article .post-content ol li,
main .post-content ol li,
.post-content ol li[style] {
  margin: 0.5em 0 !important;
  padding: 0 0 0 0.5em !important;
  padding-left: 0.5em !important;
  position: relative !important;
  line-height: 1.6 !important;
  counter-increment: item !important;
  text-indent: 0 !important;
  list-style: none !important;
}

.post-content ol li::before,
div.post-content ol li::before,
article .post-content ol li::before,
main .post-content ol li::before,
.post-content ol li .list-number {
  content: counter(item) "." !important;
  position: absolute !important;
  left: -2em !important;
  color: #333 !important;
  font-weight: normal !important;
  line-height: 1.6 !important;
  text-align: right !important;
  min-width: 1.5em !important;
  display: inline-block !important;
}

.post-content ul ul,
div.post-content ul ul {
  margin: 0.5em 0 0.5em 2em !important;
  padding: 0 !important;
}

.post-content ul ul li::before,
div.post-content ul ul li::before {
  content: "◦" !important;
  left: -2em !important;
  text-align: right !important;
  min-width: 1.5em !important;
}

.post-content ul ul ul,
div.post-content ul ul ul {
  margin: 0.5em 0 0.5em 2em !important;
  padding: 0 !important;
}

.post-content ul ul ul li::before,
div.post-content ul ul ul li::before {
  content: "▪" !important;
  left: -2em !important;
  text-align: right !important;
  min-width: 1.5em !important;
}

.post-content ol ol,
div.post-content ol ol {
  margin: 0.5em 0 0.5em 2em !important;
  padding: 0 !important;
}

.post-content ol ol li::before,
div.post-content ol ol li::before {
  left: -2em !important;
}